body{
    scroll-behavior: smooth;
    background-color: #04153c;
}
.card{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.85) 0%,     /* solid dark */
        rgba(0, 0, 0, 0.6) 30%,     /* start fading */
        rgba(0, 0, 0, 0.0) 60%,     /* fully transparent by 60% */
        rgba(0, 0, 0, 0.0) 100%     /* remain transparent */
    );
    z-index: 1;
}