body{
    scroll-behavior: smooth;
    background-color: #04153c;
}
.card{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.85) 0%,     /* solid dark */
        rgba(0, 0, 0, 0.6) 30%,     /* start fading */
        rgba(0, 0, 0, 0.0) 60%,     /* fully transparent by 60% */
        rgba(0, 0, 0, 0.0) 100%     /* remain transparent */
    );
    z-index: 1;
}
.v55-col {
  border-left: 3.5px solid rgb(56, 189, 248) !important;
  border-right: 3.5px solid rgb(56, 189, 248) !important;
  box-shadow:
    inset 0 0 14px rgba(56, 189, 248, 0.35),
    0 0 18px rgba(56, 189, 248, 0.25);
  background: rgba(56, 189, 248, 0.03);
}

.v55-top {
  text-align: center;
  border-top: 3.5px solid rgb(56, 189, 248) !important;
  /* border-top-left-radius: 14px;
  border-top-right-radius: 14px; */
}

.v55-bottom {
  border-bottom: 3.5px solid rgb(56, 189, 248) !important;
  /* border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; */
}

th.v55-col {
  font-weight: 815;
  text-shadow: 0 0 18px rgba(56, 189, 248, 1);
}

.vheader {
    text-align: center;
}
